In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.212099  1.144086
1    a  two  0.843776 -2.091881
2    b  one  0.000671  0.778440
3    b  two  0.131415 -2.223451
4    a  one -1.401248  0.685893

In [2]:
#Series的Groupby
grouped = df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped

In [3]:
grouped.mean()

台中   -0.634917
台北   -0.122550
Name: data1, dtype: float64

In [4]:
df['data1'].groupby(df['key2']).mean()

key2
one   -0.870892
two    0.487596
Name: data1, dtype: float64

In [5]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one    -1.306673
      two     0.843776
b     one     0.000671
      two     0.131415
Name: data1, dtype: float64

In [6]:
s1.unstack(level='key1')

key1         a         b
key2
one  -1.306673  0.000671
two   0.843776  0.131415

In [7]:
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a    -0.589857 -0.087301
b     0.066043 -0.722505

In [8]:
df.groupby(['key1','key2'])[['data1','data2']].sum()

              data1     data2
key1 key2
a    one  -2.613347  1.829979
     two   0.843776 -2.091881
b    one   0.000671  0.778440
     two   0.131415 -2.223451